<!DOCTYPE html>
<html>
  <head>
    <title>CloneAirbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/a72a196377.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
  </head>

  <body>
  	<%= render 'nav/navbar' %>
	  <%= render 'nav/message' %>

	<div class="container">
      <%= yield %>
    </div>
  </body>
</html>
